<ion-modal-view>
    <ion-header-bar style="background: transparent;border-bottom: 0px;">
        <h1 class="title"></h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeAdd()"><i style="font-size: 25px;" class="ion ion-close-round"></i></button>
        </div>
    </ion-header-bar>
    <ion-content style="top: 0px;">
        <div class="list" style="padding: 100px 20px;">
            <h2 style="text-align: center;">Add Event</h2>
            <hr />
            <label class="item item-input item-select">
                <div class="input-label">
                    Market
                </div>
                <select ng-model="addObject.marketId">
                    <option></option>
                    <option ng-repeat="market in markets" value="{{market.id}}">{{market.name}}</option>
                    <option value="add">Add Market</option>
                </select>
            </label>
            <span ng-show="addObject.marketId == 'add'">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Market Name</span>
                    <input type="text" placeholder="Market Name" ng-model="addObject.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Street</span>
                    <input type="text" placeholder="Street" ng-model="addObject.street">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City" ng-model="addObject.city">
                </label>
                <label class="item">
                    <span class="input-label">State</span>
                    <div ng-model="addObject.state">{{addObject.state}}</div>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Zip</span>
                    <input type="text" placeholder="Zip" ng-model="addObject.zip">
                </label>
            </span>
            <span ng-show="addObject.marketId != null">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Name</span>
                    <input type="text" placeholder="Event Name" ng-model="addObject.eventName">
                </label>
                <label class="item" ion-datetime-picker ng-model="addObject.startTime" am-pm ng-change="changeStartTime()">
                    <span class="input-label">Start Date/Time</span>
                    <div>
                        {{addObject.startTime | date: "MM/dd/yyyy hh:mm a"}}
                    </div>
                </label>
                <label class="item" ion-datetime-picker ng-model="addObject.endTime" am-pm ng-change="changeEndTime()">
                    <span class="input-label">End Date/Time</span>
                    <div>
                        {{addObject.endTime | date: "MM/dd/yyyy hh:mm a"}}
                    </div>
                </label>
            </span>
            <div class="list card" style="padding: 20px;background-color: #F77878;" ng-show="errors.active">

                <div style="margin: 2px;" ng-show="errors.noMarket">Market must be selected</div>
                <div style="margin: 2px;" ng-show="errors.marketEmpty">Market name must not be empty</div>
                <div style="margin: 2px;" ng-show="errors.streetEmpty">Street must not be empty</div>
                <div style="margin: 2px;" ng-show="errors.cityEmpty">City must not be empty</div>
                <div style="margin: 2px;" ng-show="errors.zipEmpty">Zip must not be empty</div>
                <div style="margin: 2px;" ng-show="errors.eventNameEmpty">Event name must not be empty</div>

            </div>
            <button class="button button-full button-positive" ng-hide="creating" ng-click="addEvent()">
                Add Event
            </button>
            <button class="button button-full button-positive" ng-show="creating">
                Creating event...
            </button>
        </div>
    </ion-content>
</ion-modal-view>
