<ion-view>
    <ion-nav-title>
        <div class="title">{{eventName}}</div>
    </ion-nav-title>
    <ion-content>
        <ion-refresher ng-if="!loading" pulling-text="Pull to refresh..." on-refresh="events.refresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
        <div class="spinner" ng-show="loading"><img src="img/default.gif" /></div>
        <div class="list card">

            <div class="item item-avatar" ng-hide="loading">
                <h2>{{event.market.name}}</h2>
                <p>{{event.market.street}} {{event.market.city}}, {{event.market.state}} {{event.market.zip}}</p>
            </div>

            <div class="item item-image">
                <div id="map" style="height: 250px;margin-bottom: 50px;">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
                        <ui-gmap-markers fit="true" models="map.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </div>

            <span class="item" ng-hide="loading" style="text-align: center;">
                <p>
                    <span style="padding: 5px;"><i class="icon ion ion-clock"></i> {{locationDetails.minutes | minuteTime}}</span>
                    <span style="padding: 5px;"><i class="icon ion ion-android-bus"></i> {{locationDetails.miles | mileDistance}}</span>
                    <!--<span style="padding: 5px;" ng-click="events.openInMaps()"><i class="icon ion ion-map"></i> Open in Maps</span>-->
                </p>
            </span>

        </div>

            <div class="list">
                <div class="item item-divider">
                    Participating Vendors
                </div>
                <div id="vendor_list">
                    <span class="item item-icon-right" ng-repeat="vendor in vendors">
                        <h2>{{vendor.vendorName}}</h2>
                        <p>{{vendor.vendorDescription}}</p>
                        <a href="" ng-show="vendor.vendorWebsite" ng-click="events.openWebsite(vendor.vendorWebsite)">
                            <i class="icon ion-earth"></i>
                        </a>
                    </span>
                </div>
            </div>
    </ion-content>
</ion-view>