<ion-modal-view>
    <ion-header-bar style="background: transparent;border-bottom: 0px;">
        <h1 class="title"></h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()"><i style="font-size: 25px;" class="ion ion-close-round"></i></button>
        </div>
    </ion-header-bar>
    <ion-content id="login_bg">
        <img src="img/icon.png" width="192" />
        <form ng-hide="registerOpen" ng-submit="doLogin()" id="login_buttons">
            <button class="button button-block button-dark" type="submit" style="background-color: #3B5998;">Login with Facebook</button>
        </form>
    </ion-content>
</ion-modal-view>
