<ion-view>
    <ion-nav-title>
        <div class="title">{{marketName}}</div>
    </ion-nav-title>
    <ion-content id="body">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="events.refresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
        <div id="map" style="height: 300px;">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
                <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id"
                                icon="{url:'img/current-location.png'}"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
            <div class="item item-divider">
                Market Events
            </div>

            <ion-scroll id="event_list" ng-hide="status.nearby.loading" zooming="false" direction="y" style="height: 500px">
                <li class="item item-toggle" ng-show="user.userType=='VENDOR'">
                    Subscribed
                    <label class="toggle toggle-positive">
                        <input type="checkbox" ng-model="subscribed" ng-change="events.subscribe()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <span ng-repeat="group in groups">
                <div class="divider-title">{{group.identifier}}</div>
                    <ul class="timeline">
                        <li ng-repeat="event in group.events" style="position: relative">
                            <a href="#" style="color: inherit;text-decoration: none;" ng-click="events.selectEvent(event)">

                                <span class="timeline-thumb">{{event.startTime | dayString}}</span>
                                <div class="timeline-item">
                                        <span style="position:absolute;top: 0px;right:0px;">
                                            <button class="button button-clear icon ion-chevron-right"></button>
                                        </span>
                                    <h4>{{event.name}}</h4>

                                    <p>{{event.market.street}} {{event.market.city}}, {{event.market.state}} {{event.market.zip}}</p>

                                    <div class="timeline-stats">
                                        <i class="ion-calendar"></i> {{event.startTime | monthDayString}}
                                        <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{event.startTime | timeString}}-{{event.endTime | timeString}}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </span>
            </ion-scroll>
    </ion-content>
</ion-view>