<ion-view>
    <ion-nav-title>
        <div class="title">Markets</div>
    </ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="events.refresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
        <div class="list">

            <a class="item item-icon-right" href="#" ng-click="events.openMarket(market)" ng-repeat="market in markets">
                {{market.name}}
                <i class="icon ion-chevron-right" style="color:#A5A5A5;"></i>
            </a>

        </div>
    </ion-content>
</ion-view>