<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div style="padding:10px 15px;margin-top:15px;height: 85px;">
                <div style="float: left;">
                    <img src="{{user.avatarUrl}}" ng-show="user" width="64" style="border-radius: 30px;" />
                    <img src="img/avatar.png" ng-hide="user" width="64" style="border-radius: 30px;" />
                </div>
                <div style="padding-left: 75px;">
                    <div ng-show="user" style="text-align: center;">Signed in with Facebook</div>
                    <div ng-hide="user" style="text-align: center;">Not signed in</div>
                    <div>
                        <button menu-close ng-hide="user" class="button button-small button-light" style="width: 100%;margin-top: 10px;" ng-click="login()">Login</button>
                        <button menu-close ng-show="user" class="button button-small button-light" style="width: 100%;margin-top: 10px;" ng-click="logout()">Logout</button>
                    </div>
                </div>
            </div>
            <ion-list>
                <ion-item id="settings" menu-close href="#/app/search" class="menu-list-item">
                    Search
                </ion-item>
                <ion-item id="settings" menu-close href="#/app/markets" class="menu-list-item">
                    Markets
                </ion-item>
                <ion-item ng-show="user" menu-close href="#/app/settings" class="menu-list-item">
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
