<ion-view>
    <ion-nav-title>
        <div class="title">Market Search</div>
        <button class="button button-clear button-positive" ng-click="popover.show($event)">{{searchText}} <i class="ion-search"></i></button>
    </ion-nav-title>
    <ion-floating-button class="floater" ng-hide="user" click="login()" has-footer="false" button-color="#546E7A" icon="ion-person">
    </ion-floating-button>
    <ion-floating-button class="floater" ng-show="user && user.userType=='VENDOR'" click="add()" has-footer="false" button-color="#546E7A" icon="ion-plus-round">
    </ion-floating-button>
    <ion-content>
        <ion-refresher ng-if="!loading" pulling-text="Pull to refresh..." on-refresh="events.search()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
        <div class="spinner" ng-show="loading"><img src="img/default.gif" /></div>
        <span ng-repeat="group in groups">
            <div class="divider-title">{{group.identifier}}</div>
            <ul class="timeline">
                <li ng-repeat="event in group.events" style="position: relative;" ng-click="events.selectEvent(event)">
                    <span class="timeline-thumb">{{event.startTime | dayString}}</span>
                    <div class="timeline-item">
                        <span style="position:absolute;top: -15px;right:0px;" ng-show="user.userType=='VENDOR'">
                            <button ng-click="events.toggleSubscribe(event);$event.stopPropagation();" ng-class="{'button-assertive': event.subscribed}" class="button button-clear icon ion-checkmark-circled"></button>
                        </span>
                        <h4>{{event.name}}</h4>

                        <p>{{event.market.street}} {{event.market.city}}, {{event.market.state}} {{event.market.zip}}</p>

                        <div class="timeline-stats">
                            <i class="ion-calendar"></i> {{event.startTime | monthDayString}}
                            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{event.startTime | timeString}}-{{event.endTime | timeString}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </span>
    </ion-content>
</ion-view>

<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <div class="item item-divider">
                    Distance
                </div>
                <a class="item item-icon-right" href="#" ng-repeat="mile in miles" style="padding-top: 7px;padding-bottom: 7px;" ng-click="events.selectParam($index, 'miles')">
                    {{mile}} Miles
                    <i class="icon ion-checkmark" style="font-size: 18px;" ng-show="mile == selectedMile"></i>
                </a>
                <div class="item item-divider">
                    Duration
                </div>
                <a class="item item-icon-right" href="#" ng-repeat="minute in minutes" style="padding-top: 7px;padding-bottom: 7px;" ng-click="events.selectParam($index, 'minutes')">
                    {{minute | prettyMinutes}}
                    <i class="icon ion-checkmark" style="font-size: 18px;" ng-show="minute == selectedMinute"></i>
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
