<ion-view>
    <ion-nav-title>
        <div class="title">Settings</div>
    </ion-nav-title>
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                User Details
            </div>

            <li class="item item-toggle">
                Vendor
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-checked="user.userType=='VENDOR'" ng-model="user.vendor" ng-change="events.changeUserType()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <span ng-show="user.userType=='VENDOR'">
                <div class="item item-divider">
                    Vendor Details
                </div>

                <li class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="user.vendorName" ng-blur="events.updateVendorName()">
                </li>

                <li class="item error" ng-show="vendorNameExists">
                    Vendor name already exists
                </li>

                <li class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="user.vendorDescription" ng-blur="events.updateVendorDesc()">
                </li>

                <li class="item item-input">
                    <span class="input-label">Website</span>
                    <input type="text" ng-model="user.vendorWebsite" ng-blur="events.updateVendorWebsite()">
                </li>
            </span>

        </div>
    </ion-content>
</ion-view>