/*Optional*/
.tabs{
    background-color: #d9d9d9 !important;
}
.icon-size-lg {
    font-size: 40px;
}

/*Timeline*/

.pos-absolute-right {
    position: absolute;
    right: 8px;
}

.timeline {
    position: relative;
    margin: 15px 0 0 0;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 44px;
    margin-left: -10px;
    z-index: 1;
}

.timeline .timeline-thumb {
    border-radius: 500px;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 10px
}

.timeline .timeline-thumb.timeline-icon {
    height: 50px;
    text-align: center;
    color: white;
    border: 5px solid #CBD0D3;
}

.timeline .timeline-thumb.timeline-icon i {
    font-size: 28px;
    margin: 6px 0;
    display: block;
}

.timeline .timeline-item {
    margin-left: 72px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.timeline .timeline-stats {
    position: relative;
    font-size: 12px;
    color: #7F8C8D;
}


.divider-title {
    background: #e4e4e4;
    padding: 5px 15px;
}

/* === Color Themes === */
.text-muted {
    color: #6d6d72 !important;
}

.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #ff3b30 !important;
}

.bg-color-red {
    background-color: #ff3b30 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #4cd964 !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #4cd964 !important;
}
.title {
    text-align: left !important;
    right: 0px !important;
}
.timeline-thumb {
    width: 50px;
    height: 50px;
    background-color: #C75E5E;
    text-align: center;
    font-size: 30px;
    padding-top: 16px;
    color: #DA555F ;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background: url('../img/calendar.png');
    background-size: cover;
}
.menu-icon {
    color: #fff !important;
}

#login_bg {
    background-color: #314358;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    top: 0px;
    bottom: 0px;
}
#login_buttons {
    padding: 20px;
    margin-top: 100px;
}
.pretty-form.login {
    bottom: 75px;
}
.pretty-form.register {
    top: 25%;
}
.pretty-form {
    padding: 0px 30px;
    position: absolute;
    left: 0px;
    right: 0px;
}
.pretty-form .list .item {
    background: transparent;
    border: 0px;
}
.pretty-form .list .item-input {
    border-bottom: 1px solid #fff;
}
.pretty-form .list .item-input input {
    color: #fff;
}
.menu {
    background: #3C515A;
    color: #fff;
}
.menu-list-item {
    border-color: #2B3438;
}
.menu-list-item a {
    background: #3C515A !important;
    color: #fff;
}
.error {
    background-color: #F77878;
}
.map-container .scroll{
    height: 100%;
}
.angular-google-map-container {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.spinner {
    text-align: center;
    padding: 20px;
}
.spinner img {
    height: 25px;
}
.button.button-positive.button-clear {
    color: #3C9EBF;
}
.toggle.toggle-positive input:checked + .track {
    border-color: #546E7A;
    background-color: #546E7A;
}
.center-attention {
    text-align: center;
    padding: 20px;
    font-size: 26px;
}
.platform-ios .popover .scroll-content {
    margin: 0px;
}